@import url("https://fonts.googleapis.com/css?family=Exo 2");

@import url("https://fonts.googleapis.com/css?family=Roboto");

@layer base,
vendor,
component;
:root {
  --color-red-error: #E31B1B;
  --color-black: #030303;
  --color-white: #FBFBFB;
  --color-gray-txt: #66605B;
  --color-gray-input: #B9B9B9;
  --color-gray-stroke: #DADADA;
  --color-gray-illustr: #F0F0F0;
  --color-dark-violet: #2A2B87;
  --color-violet: #5E60CE;
  --color-violet-hover: #8C8EEA;
  --color-violet-light: #D6D6FF;
  --color-gold-light: #F9B974;
}

.bootsrtap-icon,
.breadcrumbs a:not(:last-child)::after,
.button-arrow::before,
.button-serach::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hover-no {
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
}

.ff-exo {
  font-family: "Exo 2";
}

.ff-roboto {
  font-family: "Roboto";
}





.header {
  border-bottom: 1px solid rgb(218, 218, 218);
}

.header-logo p {
  color: var(--color-gray-txt);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}

.mobile-menu {
  outline: 1px solid transparent;
  border: 0;
  background-color: transparent;
  font-size: 1.25rem;
}

.mobile-menu.mobile-btn {
  -webkit-transform: scale(130%);
      -ms-transform: scale(130%);
          transform: scale(130%);
}

.btn-close {
  color: var(--color-black);
  opacity: 1;
}

.btn-close:hover {
  opacity: 1;
}

.btn-close:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.footer {
  margin-top: 6.25rem;
  padding: 3rem 0 2.5rem 0;
}

.button {
  padding: 0.75rem 1.5rem;
  border-radius: 6.25rem;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
}

.button,
.button-arrow,
.button-serach {
  outline: 1.5px solid transparent;
  border: 1.5px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  text-align: center;
  text-decoration: none;
  display: grid;
  place-items: center;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.button-full,
.button-serach {
  background-color: var(--color-violet);
  color: var(--color-white);
}

.button-empty,
.button-arrow {
  background-color: var(--color-white);
  color: var(--color-violet);
  border-color: var(--color-violet);
}

.button-disabled.button-full,
.button-disabled.button-serach {
  background-color: var(--color-gray-stroke);
  color: var(--color-white);
}

.button-disabled.button-empty,
.button-disabled.button-arrow {
  border-color: var(--color-gray-stroke);
  color: var(--color-gray-stroke);
}

.button-disabled.button-full,
.button-disabled.button-empty,
.button-disabled.button-arrow,
.button-disabled.button-serach {
  cursor: not-allowed;
}

.button-arrow {
  padding: 0.75rem;
  font-size: 24px;
}

.button-arrow,
.button-serach {
  border-radius: 50%;
}

.button-left::before {
  content: "\f12f";
}

.button-right::before {
  content: "\f138";
}

.button-serach {
  font-size: 22px;
  padding: 0.5rem;
}

.button-serach::before {
  content: " \f52a";
}

.link-header {
  text-underline-offset: 6px;
  -webkit-text-decoration: underline 1px solid transparent;
          text-decoration: underline 1px solid transparent;
}

.link-header,
.link {
  color: var(--color-black);
}

.link,
.link-footer {
  text-decoration: none;
}

.link-header,
.link,
.link-footer {
  font-family: "Roboto";
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  font-size: 16px;
}

.link-footer {
  color: var(--color-white);
}

.link-footer-button {
  font-size: 24px;
  font-family: "Exo 2";
  line-height: 120%;
  font-weight: 600;
}

.header-contact {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0%;
  text-decoration: none;
  font-size: 16px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.breadcrumbs a {
  font-family: "Roboto";
  color: var(--color-gray-txt);
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  letter-spacing: 0%;
  text-decoration: none;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.breadcrumbs a:not(:last-child)::after {
  content: "\f285";
  font-size: 0.875rem;
}

.breadcrumbs a::after {
  margin: 0 4px;
}

.breadcrumbs a:last-child {
  color: var(--color-black);
}

.floating-label-content {
  position: relative;
}

.floating-label {
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  color: var(--color-gray-txt);
  font-size: 16px;
  position: absolute;
  pointer-events: none;
  left: 16px;
  top: 13px;
  padding: 0 5px;
  background: var(--color-white);
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
}

.floating-input {
  font-size: 16px;
  display: block;
  width: 100%;
  height: 48px;
  padding: 0 1rem;
  background: var(--color-white);
  color: var(--color-gray-txt);
  border: 2px solid var(--color-gray-stroke);
  border-radius: 9.375rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
}

.floating-input:focus {
  outline: none;
  border: 2px solid var(--color-violet);
}

.floating-input:focus ~ .floating-label {
  top: -8px;
  font-size: 12px;
}

.floating-input:disabled {
  cursor: not-allowed;
}

.floating-input:not(:-moz-placeholder-shown) ~ .floating-label {
  top: -8px;
  font-size: 12px;
}

.floating-input:not(:-ms-input-placeholder) ~ .floating-label {
  top: -8px;
  font-size: 12px;
}

.floating-input:not(:placeholder-shown) ~ .floating-label {
  top: -8px;
  font-size: 12px;
}

.floating-input:not(:-moz-placeholder-shown) {
  color: var(--color-black);
}

.floating-input:not(:-ms-input-placeholder) {
  color: var(--color-black);
}

.floating-input:not(:placeholder-shown) {
  color: var(--color-black);
}

.floating-input-error .floating-input {
  border: 1px solid var(--color-red-error);
  color: var(--color-red-error);
}

.floating-input-error .floating-label {
  font-weight: 600;
  color: var(--color-red-error);
}

#mobileSearch .modal-content {
  padding: 0 0.8rem;
  border: 0;
}

#mobileSearch .modal-dialog {
  max-width: 100%;
  margin: 0;
}

.main-banner__text {
  font-size: 34px;
  font-weight: 600;
  line-height: 130%;
}

.main-banner__text,
.main-banner__sub {
  letter-spacing: 0%;
}

.main-banner__sub {
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
}

.connect-step-block__circle {
  font-size: 1.75rem;
  line-height: 130%;
  letter-spacing: 0;
  border-radius: 50%;
  padding: 0.5rem 0.5625rem;
  width: 3.25rem;
  height: 3.25rem;
}

.news-block {
  text-decoration: none;
  border: 1.5px solid transparent;
}

.news-block__time {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.25rem 0.75rem;
  letter-spacing: 0;
  display: grid;
  place-items: center;
}

.news-block__text {
  height: 10rem;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.news-block__hashtag::before {
  content: "#";
}

.map-block {
  overflow: hidden;
}

.map-block iframe {
  min-height: 450px;
}

.main-support-block {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  color: var(--color-gray-txt);
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.main-support-block__img img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.main-slider .swiper {
  height: 150px;
}

.main-slider .swiper-button-next,
.main-slider .swiper-button-prev {
  width: auto;
  height: auto;
}

.main-slider .swiper-button-next:after,
.main-slider .swiper-rtl .swiper-button-prev:after {
  content: "";
}

.main-slider .swiper-button-next:after,
.main-slider .swiper-button-prev:after {
  content: "";
}

.main-slider .slider-inner-text span {
  font-size: 20px;
}

.main-slider .swiper-slide {
  overflow: hidden;
}

.main-slider .swiper-slide img {
  max-width: 220px;
  width: 100%;
  height: 100%;
}

.modal-content {
  border-radius: 0;
}

.bi {
  color: var(--color-black);
}

.h2-section {
  font-size: 1.75rem;
  line-height: 130%;
  letter-spacing: 0;
}

html {
  height: auto;
  scroll-behavior: smooth;
  width: 100%;
}

html,
body {
  min-width: 320px;
  width: 100%;
}

body {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

a:hover {
  color: inherit;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  min-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

:root {
  font-size: 16px;
}

section:not(:first-child) {
  margin-top: 5rem;
}

section:first-child {
  margin-top: 3.25rem;
}

a {
  text-decoration: none;
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
}

.ui-page {
  padding-bottom: 300px;
}

.bg-red-error {
  background-color: #E31B1B;
}

.color-red-error {
  color: #E31B1B;
}

.border-1-5-red-error {
  border: 1.5px solid #E31B1B;
}

.border-color-red-error {
  border-color: #E31B1B;
}

.bg-black {
  background-color: #030303;
}

.color-black {
  color: #030303;
}

.border-1-5-black {
  border: 1.5px solid #030303;
}

.border-color-black {
  border-color: #030303;
}

.bg-white {
  background-color: #FBFBFB;
}

.color-white {
  color: #FBFBFB;
}

.border-1-5-white {
  border: 1.5px solid #FBFBFB;
}

.border-color-white {
  border-color: #FBFBFB;
}

.bg-gray-txt {
  background-color: #66605B;
}

.color-gray-txt {
  color: #66605B;
}

.border-1-5-gray-txt {
  border: 1.5px solid #66605B;
}

.border-color-gray-txt {
  border-color: #66605B;
}

.bg-gray-input {
  background-color: #B9B9B9;
}

.color-gray-input {
  color: #B9B9B9;
}

.border-1-5-gray-input {
  border: 1.5px solid #B9B9B9;
}

.border-color-gray-input {
  border-color: #B9B9B9;
}

.bg-gray-stroke {
  background-color: #DADADA;
}

.color-gray-stroke {
  color: #DADADA;
}

.border-1-5-gray-stroke {
  border: 1.5px solid #DADADA;
}

.border-color-gray-stroke {
  border-color: #DADADA;
}

.bg-gray-illustr {
  background-color: #F0F0F0;
}

.color-gray-illustr {
  color: #F0F0F0;
}

.border-1-5-gray-illustr {
  border: 1.5px solid #F0F0F0;
}

.border-color-gray-illustr {
  border-color: #F0F0F0;
}

.bg-dark-violet {
  background-color: #2A2B87;
}

.color-dark-violet {
  color: #2A2B87;
}

.border-1-5-dark-violet {
  border: 1.5px solid #2A2B87;
}

.border-color-dark-violet {
  border-color: #2A2B87;
}

.bg-violet {
  background-color: #5E60CE;
}

.color-violet {
  color: #5E60CE;
}

.border-1-5-violet {
  border: 1.5px solid #5E60CE;
}

.border-color-violet {
  border-color: #5E60CE;
}

.bg-violet-hover {
  background-color: #8C8EEA;
}

.color-violet-hover {
  color: #8C8EEA;
}

.border-1-5-violet-hover {
  border: 1.5px solid #8C8EEA;
}

.border-color-violet-hover {
  border-color: #8C8EEA;
}

.bg-violet-light {
  background-color: #D6D6FF;
}

.color-violet-light {
  color: #D6D6FF;
}

.border-1-5-violet-light {
  border: 1.5px solid #D6D6FF;
}

.border-color-violet-light {
  border-color: #D6D6FF;
}

.bg-gold-light {
  background-color: #F9B974;
}

.color-gold-light {
  color: #F9B974;
}

.border-1-5-gold-light {
  border: 1.5px solid #F9B974;
}

.border-color-gold-light {
  border-color: #F9B974;
}

.border-15 {
  border-radius: 15px;
}

.border-20 {
  border-radius: 20px;
}

.border-25 {
  border-radius: 25px;
}

.border-30 {
  border-radius: 30px;
}

.border-100 {
  border-radius: 100px;
}

.transition-2 {
  -webkit-transition: all ease-out .2s;
  transition: all ease-out .2s;
}

.transition-3 {
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
}

.fs-10 {
  font-size: 0.625rem !important;
}

.fs-12 {
  font-size: 0.75rem !important;
}

.fs-14 {
  font-size: 0.875rem !important;
}

.fs-16 {
  font-size: 1rem !important;
}

.fs-18 {
  font-size: 1.125rem !important;
}

.fs-20 {
  font-size: 1.25rem !important;
}

.fs-22 {
  font-size: 1.375rem !important;
}

.fs-24 {
  font-size: 1.5rem !important;
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 740px;
  }
}

@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 1020px;
  }
}

@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 1160px;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1240px;
  }
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1400px;
  }
}

@media (max-width: 1400px) {
  .button {
    font-size: calc(14px + 4 * (100vw - 320px) / 1080);
  }

  .button-arrow {
    font-size: calc(18px + 6 * (100vw - 320px) / 1080);
  }

  .button-serach {
    font-size: calc(16px + 6 * (100vw - 320px) / 1080);
  }

  .link-header,
  .link,
  .link-footer {
    font-size: calc(14px + 2 * (100vw - 320px) / 1080);
  }

  .link-footer-button {
    font-size: calc(18px + 6 * (100vw - 320px) / 1080);
  }

  .header-contact {
    font-size: calc(12px + 4 * (100vw - 320px) / 1080);
  }

  .breadcrumbs a {
    font-size: calc(12px + 4 * (100vw - 320px) / 1080);
  }

  .floating-label {
    font-size: calc(12px + 4 * (100vw - 320px) / 1080);
  }

  .floating-input {
    font-size: calc(12px + 4 * (100vw - 320px) / 1080);
  }

  .floating-input {
    height: calc(40px + 8 * (100vw - 320px) / 1080);
  }

  .floating-input:focus ~ .floating-label {
    font-size: calc(10px + 2 * (100vw - 320px) / 1080);
  }

  .floating-input:not(:-moz-placeholder-shown) ~ .floating-label {
    font-size: calc(10px + 2 * (100vw - 320px) / 1080);
  }

  .floating-input:not(:-ms-input-placeholder) ~ .floating-label {
    font-size: calc(10px + 2 * (100vw - 320px) / 1080);
  }

  .floating-input:not(:placeholder-shown) ~ .floating-label {
    font-size: calc(10px + 2 * (100vw - 320px) / 1080);
  }

  .main-banner__text {
    font-size: calc(24px + 10 * (100vw - 320px) / 1080);
  }

  .main-banner__sub {
    font-size: calc(14px + 4 * (100vw - 320px) / 1080);
  }

  .main-slider .slider-inner-text span {
    font-size: calc(14px + 6 * (100vw - 320px) / 1080);
  }
}

@media screen and (max-width: 910px) {
  .button {
    padding: 0.625rem 0.75rem;
  }
}

@media (hover: hover) and (pointer: fine) {
  .button-empty:not(.button-disabled):hover,
  .button-arrow:not(.button-disabled):hover {
    border-color: var(--color-violet-hover);
  }

  .button-full:not(.button-disabled):hover,
  .button-empty:not(.button-disabled):hover,
  .button-arrow:not(.button-disabled):hover,
  .button-serach:not(.button-disabled):hover {
    background-color: var(--color-violet-hover);
  }

  .button-full:not(.button-disabled):hover,
  .button-empty:not(.button-disabled):hover,
  .button-arrow:not(.button-disabled):hover,
  .button-serach:not(.button-disabled):hover {
    color: var(--color-white);
  }

  .link-header:hover {
    -webkit-text-decoration-color: var(--color-violet);
            text-decoration-color: var(--color-violet);
  }

  .link-header:hover,
  .link:hover {
    color: var(--color-violet);
  }

  .link-footer:hover {
    color: var(--color-gold-light);
  }

  .header-contact:hover {
    color: var(--color-violet);
  }

  .breadcrumbs a:hover {
    color: var(--color-violet);
  }

  .floating-label-content:not(.floating-input-error) .floating-input:not(:focus, :disabled):hover {
    border-color: var(--color-violet-hover);
  }

  .news-block:hover {
    background-color: var(--color-white);
  }

  .news-block:hover {
    border: 1.5px solid var(--color-violet);
  }

  .main-support-block:hover {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }

  .main-support-block:hover {
    color: var(--color-black);
  }

  .hover-red-error:hover {
    color: #E31B1B;
  }

  .hover-bg-red-error:hover {
    background-color: #E31B1B;
  }

  .hover-black:hover {
    color: #030303;
  }

  .hover-bg-black:hover {
    background-color: #030303;
  }

  .hover-white:hover {
    color: #FBFBFB;
  }

  .hover-bg-white:hover {
    background-color: #FBFBFB;
  }

  .hover-gray-txt:hover {
    color: #66605B;
  }

  .hover-bg-gray-txt:hover {
    background-color: #66605B;
  }

  .hover-gray-input:hover {
    color: #B9B9B9;
  }

  .hover-bg-gray-input:hover {
    background-color: #B9B9B9;
  }

  .hover-gray-stroke:hover {
    color: #DADADA;
  }

  .hover-bg-gray-stroke:hover {
    background-color: #DADADA;
  }

  .hover-gray-illustr:hover {
    color: #F0F0F0;
  }

  .hover-bg-gray-illustr:hover {
    background-color: #F0F0F0;
  }

  .hover-dark-violet:hover {
    color: #2A2B87;
  }

  .hover-bg-dark-violet:hover {
    background-color: #2A2B87;
  }

  .hover-violet:hover {
    color: #5E60CE;
  }

  .hover-bg-violet:hover {
    background-color: #5E60CE;
  }

  .hover-violet-hover:hover {
    color: #8C8EEA;
  }

  .hover-bg-violet-hover:hover {
    background-color: #8C8EEA;
  }

  .hover-violet-light:hover {
    color: #D6D6FF;
  }

  .hover-bg-violet-light:hover {
    background-color: #D6D6FF;
  }

  .hover-gold-light:hover {
    color: #F9B974;
  }

  .hover-bg-gold-light:hover {
    background-color: #F9B974;
  }
}

@media (hover: none) {
  .button-empty:not(.button-disabled):active,
  .button-arrow:not(.button-disabled):active {
    border-color: var(--color-violet-hover);
  }

  .button-full:not(.button-disabled):active,
  .button-empty:not(.button-disabled):active,
  .button-arrow:not(.button-disabled):active,
  .button-serach:not(.button-disabled):active {
    background-color: var(--color-violet-hover);
  }

  .button-full:not(.button-disabled):active,
  .button-empty:not(.button-disabled):active,
  .button-arrow:not(.button-disabled):active,
  .button-serach:not(.button-disabled):active {
    color: var(--color-white);
  }

  .link-header:active {
    -webkit-text-decoration-color: var(--color-violet);
            text-decoration-color: var(--color-violet);
  }

  .link-header:active,
  .link:active {
    color: var(--color-violet);
  }

  .link-footer:active {
    color: var(--color-gold-light);
  }

  .header-contact:active {
    color: var(--color-violet);
  }

  .breadcrumbs a:active {
    color: var(--color-violet);
  }

  .floating-label-content:not(.floating-input-error) .floating-input:not(:focus, :disabled):active {
    border-color: var(--color-violet-hover);
  }

  .news-block:active {
    background-color: var(--color-white);
  }

  .news-block:active {
    border: 1.5px solid var(--color-violet);
  }

  .main-support-block:active {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }

  .main-support-block:active {
    color: var(--color-black);
  }

  .hover-red-error:active {
    color: #E31B1B;
  }

  .hover-bg-red-error:active {
    background-color: #E31B1B;
  }

  .hover-black:active {
    color: #030303;
  }

  .hover-bg-black:active {
    background-color: #030303;
  }

  .hover-white:active {
    color: #FBFBFB;
  }

  .hover-bg-white:active {
    background-color: #FBFBFB;
  }

  .hover-gray-txt:active {
    color: #66605B;
  }

  .hover-bg-gray-txt:active {
    background-color: #66605B;
  }

  .hover-gray-input:active {
    color: #B9B9B9;
  }

  .hover-bg-gray-input:active {
    background-color: #B9B9B9;
  }

  .hover-gray-stroke:active {
    color: #DADADA;
  }

  .hover-bg-gray-stroke:active {
    background-color: #DADADA;
  }

  .hover-gray-illustr:active {
    color: #F0F0F0;
  }

  .hover-bg-gray-illustr:active {
    background-color: #F0F0F0;
  }

  .hover-dark-violet:active {
    color: #2A2B87;
  }

  .hover-bg-dark-violet:active {
    background-color: #2A2B87;
  }

  .hover-violet:active {
    color: #5E60CE;
  }

  .hover-bg-violet:active {
    background-color: #5E60CE;
  }

  .hover-violet-hover:active {
    color: #8C8EEA;
  }

  .hover-bg-violet-hover:active {
    background-color: #8C8EEA;
  }

  .hover-violet-light:active {
    color: #D6D6FF;
  }

  .hover-bg-violet-light:active {
    background-color: #D6D6FF;
  }

  .hover-gold-light:active {
    color: #F9B974;
  }

  .hover-bg-gold-light:active {
    background-color: #F9B974;
  }
}