@import './ui-comp/header';
@import './ui-comp/footer';
@import './ui-comp/buttons';
@import './ui-comp/links';
@import './ui-comp/bread-crumbs';
@import './ui-comp/inputs';
@import './ui-comp/mobile-menu';
@import './ui-comp/main-banner';
@import './ui-comp/main-connect';
@import './ui-comp/news-block';
@import './ui-comp/main-contact';
@import './ui-comp/main-support';
@import './ui-comp/main-slider';

.modal-content{
     border-radius: 0;
}

.bi{
     color: var(--color-black);
}

.h2-section {
     font-size: 1.75rem;
     line-height: 130%;
     letter-spacing: 0;
}
